<ion-content>
  <ion-grid style="width: 100%;">

    <app-wifi *ngIf="isWifi()" [selected]='selected'></app-wifi>
    <app-webpage *ngIf="isWeb()" [selected]='selected'></app-webpage>
    <app-credit *ngIf="isCredit()" [selected]='selected'></app-credit>
    <app-email *ngIf="isEmail()" [selected]='selected'></app-email>
    <app-application *ngIf="isApp()" [selected]='selected'></app-application>
    <app-text *ngIf="isText()" [selected]='selected'></app-text>

    <ion-row style="height: 50%">
      <ion-col style="padding: 0px;padding-top: 2%;">
        <nb-card style="height: 85% !important; margin-bottom: 10px !important">
          <nb-list style="height: 55vh !important;">


            <nb-list-item *ngFor="let item of listService.list" (click)="select(item)">
              {{item.name}}
            </nb-list-item>

          </nb-list>
        </nb-card>

      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>


<ion-footer>
  <ion-item-divider>
    <ion-grid style="width: 100%">
      <ion-row>
        <ion-col>
          <nb-icon icon="arrow-back-outline" [routerLink]="['/home']" style="float: left; font-size: 6vw"></nb-icon>
        </ion-col>

        <!--ion-col>
          <nb-icon icon="settings-outline" style="float: right; font-size: 6vw"></nb-icon>
        </ion-col-->
      </ion-row>
    </ion-grid>
  </ion-item-divider>
</ion-footer>