<ion-content>

    <ion-grid style="width: 100%;">



        <form [formGroup]="loginForm" (ngSubmit)="login()" style="padding-top: 40%;">
            <ion-row>
                <ion-col>
                    <div class="label">usuario</div>
                    <input [(ngModel)]="username" type="text" nbInput fullWidth formControlName="usrName">
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="label">senha</div>
                    <nb-form-field>
                        <input [(ngModel)]="password" [type]="getInputType()" fullWidth nbInput
                            formControlName="usrPassword">
                        <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword()">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                                [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>

                </ion-col>
            </ion-row>

            <ion-row style="padding-top: 20%;">
                <ion-col>
                    <button nbButton fullWidth status="primary" (click)="login()" [disabled]="!loginForm.valid"
                        type="submit">Login</button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>

    <ion-footer>
        <div class="footer">
            Não tem uma conta? <a routerLink="/create-account">Crie uma</a>
        </div>
    </ion-footer>
