.label {
    color: rgba(189, 212, 255, 0.5);
    font-size: smaller;
    text-rendering: optimizeLegibility;
    font-variant: small-caps;
}


.footer {
    font-size: small;
    text-align: center;
}

.legenda {
    text-align: center;
    font-size: 10px;
    color: rgb(192, 192, 192);
}