<ion-content>

    <ion-grid style="width: 100%;">

        <ion-grid style="width: 100%; padding-bottom: 5%;padding-top: 10%; max-height: 120px;">
            <ion-row>
                <ion-col style="text-align: center;">
                    <ion-img src="assets/icon/alle.png" style="filter: invert(1); height: 40%;"></ion-img>
                    <div class="legenda">Gerente de senhas de nível militar (AES-256)</div>
                </ion-col>
            </ion-row>
        </ion-grid>


        <form [formGroup]="loginForm" (ngSubmit)="login()" style="padding-top: 20%;">
            <ion-row>
                <ion-col>
                    <div class="label">usuario</div>
                    <input [(ngModel)]="username" type="text" nbInput fullWidth formControlName="usrName">
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="label">senha</div>
                    <nb-form-field>
                        <input [(ngModel)]="password" [type]="getInputType()" fullWidth nbInput
                            formControlName="usrPassword">
                        <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword()">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                                [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>

                </ion-col>
            </ion-row>

            <ion-row style="padding-top: 10%;">
                <ion-col>
                    <button nbButton fullWidth status="primary" [disabled]="!loginForm.valid && !useFingerCredential"
                        type="submit">Login</button>
                </ion-col>
            </ion-row>

            <ion-row style="padding-top: 20%;">
                <ion-col style="padding-left: 45%;">
                    <ion-img style="width: 20%; margin: 0px !important; filter: invert(1);"
                        src="assets\icon\fingerprint.png"></ion-img>
                </ion-col>
            </ion-row>



        </form>

        <ion-row>
            <ion-col style="text-align: center;">
                <input id="s1" type="checkbox" [(ngModel)]="useFingerCredential" [value]="useFingerCredential" (click)="setUseFingerCredential()" class="switch">
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>


<ion-footer>
    <div class="footer">
        Não tem uma conta? <a routerLink="/create-account">Crie uma</a>
    </div>
</ion-footer>