.container {
    min-height: 30%;
    display: flex;
    flex-direction: column;
}

.container > .cell-row {
    flex: 1;
    display: flex;
}
.cell-row > div {
    flex: 1;
    flex-grow: 1;
    color: #fff;

    /* Flex for these containers (cells) */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container i[class^="ion-"] {
    font-size: 90px;
}

.cell-1 {
    margin: 5%;
}

.name {
    font-size: large;
    text-rendering: optimizeLegibility;
}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  


ion-item-divider {
    --padding-start: 0px !important;
}

title {
    text-align: center;
}