<ion-content>
  <ion-grid style="height: 100%; margin: 0px;">


    <ion-grid style="width: 100%; padding-bottom: 10%;padding-top: 5%;">
        <ion-row>
          <ion-col style="text-align: center;">
            <h6>ALLE</h6>
            <div class="legenda">Gerente de senhas de nível militar (AES-256)</div>
          </ion-col>
        </ion-row>
    </ion-grid>
    
    <ion-row *ngFor="let number of [0, 1, 2];index as i">

      <ion-col *ngFor="let innernumber of [0, 1];index as j;">

        <nb-card style="margin-bottom: 5px; ">
          <nb-card-body style="padding: 1vh;">


            <ion-grid style=" width: 100%; padding: 0px; color: rgb(145, 145, 145);">
              <ion-row>

                <ion-col size="10" style="padding: 0px;">
                  <div class="subtitle" style="font-size: 12px;">{{types[i + i + j].typ_name}}</div>
                </ion-col>

                <ion-col size="2" style="padding: 0px;">
                  <nb-icon style="font-size: 7vw; float: right;" icon="{{types[i + i + j].typ_icon}}" status="primary">
                  </nb-icon>
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col style="font-size: small;padding: 0px;">
                  {{types[i + i + j].size}} Itens
                </ion-col>

              </ion-row>

            </ion-grid>

          </nb-card-body>
        </nb-card>

      </ion-col>

    </ion-row>


  </ion-grid>

</ion-content>

<ion-footer>

  <ion-item-divider>

    <div class="container" style="width: 100%;">
      <div class="cell-row cell-row-1" *ngFor="let number of [0, 1];index as i">

        <div class="cell-1" *ngFor="let innernumber of [0, 1, 2];index as j;">
          <div [routerLink]="['/item-page', (i + j + j) + 1]">
            <nb-icon style="font-size: 10vw" icon="{{types[i + j + j].typ_icon}}"
              [options]="{ animation: { type: 'pulse' } }" status="primary"></nb-icon>
            <div style="font-size: 12px;">{{types[i + j + j].typ_name}}</div>
          </div>
        </div>

      </div>
    </div>

  </ion-item-divider>

  <ion-item-divider>

    <ion-grid style="width: 100%">

      <ion-row>

        <ion-col>

          <button (click)="sair(true)" outline nbButton status="basic" size="tiny" style="float: left">
            <nb-icon icon="log-out-outline" status="danger"></nb-icon>Salvar e sair
          </button>

        </ion-col>


         

        <ion-col>
          <button (click)="sair(false)" outline nbButton status="basic" size="tiny" style="float: right">
            <nb-icon icon="log-out-outline" status="danger"></nb-icon>Sair
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-item-divider>



</ion-footer>