<ion-content>
  <ion-grid style="height: 100%; margin: 0px;padding: 0px;">


    <ion-card class="myCard" style="padding: 0px;margin: 0px">
      <img src="assets/image/hacker-man-on-laptop.jpg" style="filter: blur(3px) brightness(0.6);" />
      <div class="myOverlay">

        <div class="CardTitle"> <span>ALLE SAFE KEEPER - {{userName}}</span></div>
        <h1 class="CardSubtitle">PROTEÇÃO DE NÍVEL MILITAR</h1>
        <div class="CardText">
          Alle usa a criptografia Advanced Encryption Standard (AES-256) para proteger seus dados,
          todos os dados criptografados e descriptografados pelo seu proprio smarthphone, o servidor
          so armazena eles para voce :).
        </div>
      </div>
    </ion-card>


  </ion-grid>

</ion-content>

<ion-footer>

  <ion-item-divider>

    <div class="container" style="width: 100%;">
      <div class="cell-row cell-row-1" *ngFor="let number of [0, 1];index as i">

        <div class="cell-1" *ngFor="let innernumber of [0, 1, 2];index as j;">
          <div [routerLink]="['/item-page', (i + j + j) + 1]">
            <nb-icon style="font-size: 10vw" icon="{{types[i + j + j].typ_icon}}"
              [options]="{ animation: { type: 'pulse' } }" status="primary"></nb-icon>
            <nb-badge text="{{types[i + j + j].size}}" style="right: unset;top:unset;padding: 4px;"></nb-badge>
            <div style="font-size: 12px;">{{types[i + j + j].typ_name}}</div>
          </div>
        </div>


      </div>
    </div>

  </ion-item-divider>

  <ion-item-divider>

    <ion-grid style="width: 100%">

      <ion-row>

        <ion-col>

          <button (click)="sair(true)" outline nbButton status="basic" size="tiny" style="float: left">
            <nb-icon icon="log-out-outline" status="danger"></nb-icon>Salvar e sair
          </button>

        </ion-col>




        <ion-col>
          <button (click)="sair(false)" outline nbButton status="basic" size="tiny" style="float: right">
            <nb-icon icon="log-out-outline" status="danger"></nb-icon>Sair
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-item-divider>



</ion-footer>