.container {
    min-height: 30%;
    display: flex;
    flex-direction: column;
}

.container > .cell-row {
    flex: 1;
    display: flex;
}
.cell-row > div {
    flex: 1;
    flex-grow: 1;
    color: #fff;

    /* Flex for these containers (cells) */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container i[class^="ion-"] {
    font-size: 90px;
}

.cell-1 {
    margin: 7%;
}

.name {
    font-size: large;
    text-rendering: optimizeLegibility;
}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  

.legenda {
    text-align: center;
    font-size: 10px;
    color: rgb(192, 192, 192);
}

ion-item-divider {
    --padding-start: 0px !important;
}

title {
    text-align: center;
}






img{
    width:100%;
    height:100%;
  }
  
  .myCard{
    position:relative;
    height: 100%;
  }
  
  .myOverlay{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 99;
      bottom: 0px;

  }


  .myOverlay .card-title{
    color: white;
    background-color: blue;
}


.CardTitle {
    color: white;
    padding-top: 20%;
    padding-left: 10%;
}


.CardSubtitle {
    font-size: 18px;
    padding-left: 10%;
}

.CardText {
    color: white;
    font-size: 12px;
    padding-left: 10%;
    text-align: justify;
    padding-right: 10%;
}

.CardTitle >span {background-color:#162d75;line-height:2;padding: 8px;font-size: 12px;}
